/Legacy
/Settings - 副本
/Temp
/UnityPackageManager
/参考图
/.vs
/AnimaSoulv01_Data
/Debug
/demo_Data
/Ignore
/Library
/music
/AnimaSoul.sln
/AnimaSoul.csproj
/AnimaSoul.Editor.csproj
/AnimaSoul.Editor.Plugins.csproj
/AnimaSoul.Plugins.csproj
/AnimaSoulv01.exe
/demo.exe
/UnityPlayer.dll
/Assets/PostProcessing
/Assets/Standard Assets
/Blender
/设计
/PSD
/Assets/Battle/Body.psd.meta
/Assets/Battle/Body.psd
/Assets/Battle/wallTex.psd
/Assets/Battle/wallTex.psd.meta
/Assets/Chen
/Assets/Cinemachine
/Assets/CharB
/Assets/WSA
/Build
/*.csproj
/Assets/3rd
